# Python
*.pyc
__pycache__/
jobs/migrations/
users/migrations/
*.py[cod]
*.so

# Django
*.sqlite3
db.sqlite3
/media/
media/

# Environment
.env
.env.*
env/
venv/

#celery beat
celerybeat-schedule

#static
media/resume/

# Docker
*.log
*.pid
*.db
*.tgz
*.bak
docker-compose.override.yml
.vscode/

# IDEs
.idea/
*.swp

# OS
.DS_Store
Thumbs.db